<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <title>Cadastro de cliente</title>

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        tr:hover {
            background-color: #f1f1f1;
            cursor: pointer;
        }
        .selected {
            background-color: #add8e6;
        }
    </style>

</head>
<body>

<div th:insert="~{NavBar :: fragment}"></div>
<div class="container d-flex justify-content-center border-bottom">
    <div class="row d-flex justify-content-center mt-3">
        <button class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#Clientevenda">
            Cliente
        </button>
    </div>
</div>

<div class="container d-flex justify-content-center">


</div>

<div class="bg-primary text-white text-center p-3 fixed-bottom">
    <button class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#VendasCad">
        + Itens
    </button>
</div>

<div class="modal fade" id="VendasCad" data-bs-backdrop="false" tabindex="-1" aria-labelledby="optionsModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="optionsModalLabel">Opções</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <div class="modalBox">

                    <form action="/Venda/Cadastrar">

                    </form>

                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-content mt-3 btn">
                    <input class="btn btn-primary" id="SubmitNovoItem" type="submit"
                           value="Adicionar" required="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Clientevenda" data-bs-backdrop="false" tabindex="-1" aria-labelledby="optionsModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ClientevendaLabel">Opções</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <div class="modalBox">
                    <h1>Seleção de Cliente</h1>
                    <table id="clientesTable">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Email</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- Renderiza os clientes -->
                        <tr th:each="cliente : ${clientes}" onclick="selectRow(this)">
                            <td th:text="${cliente.id}"></td>
                            <td th:text="${cliente.nome}"></td>
                            <td th:text="${cliente.email}"></td>
                        </tr>
                        </tbody>
                    </table>

                    <form id="clienteForm" action="/Venda/SelecionarCliente" method="POST" style="display: none;">
                        <input type="hidden" id="clienteId" name="clienteId">
                    </form>


                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-content mt-3 btn">
                    <button class="btn btn-primary" id="confirmButton">Confirmar Seleção</button>
                    <p id="selectedClient"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="/js/Venda.js" defer></script>

</body>
</html>